/* Utility Classes */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flow > * + * {
  margin-block-start: var(--space-sm);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-center {
  text-align: center;
}
