---
layout: base.liquid
---
<article class="container-narrow section page">
  <header class="page-header">
    <h1>{{ title }}</h1>
  </header>
  <div class="prose">
    {{ content }}
  </div>
</article>
